* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn {
    display: block;
    border-radius: .5em;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: .5em;
    width: 10em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    background-color: #BF4C61;
}

.nav {
    background: #2D3E46;
}

.logo img {
    width: 20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    border-radius: 2.5vw;
}

.nav ul.nav-item {
    list-style-type: none;
    display: flex;
    border-top: .5px #fff solid;
    flex-flow: wrap;
    justify-content: center;
    background: #2D3E46 /*linear-gradient(to top, ,);*/
}

.nav ul.nav-item li.item {
    display: inline;
    margin: .25em .25em;
    padding: .25em .5em;
    border-radius: .25em;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 5vw;
}

.nav ul.nav-item li.item>a {
    text-decoration: none;
    color: #fff;
}

div.promotion {
    text-align: center;
    margin: 0 0 .5em;
    font-family: monospace;
    font-size: 5vw;
    font-variant: small-caps;
    color: #F9F4F4;
}

.main div.bg-1 {
    height: 8vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../img/background.svg");
}

.main div.body {
    background-color: #D8DCDF;
}


.main div.body div:first-child,
.main div.body div:last-child {
    background-color: #fff;
    height: 4em;
}

.main div.body div:first-child {
    border-bottom-left-radius: 100%;
}

.main div.body div:last-child {
    border-top-right-radius: 100%;
}

.main div.body div:nth-child(2) {
  background-image: linear-gradient(#D8DCDF, #F9F4F4, #D8DCDF);
}
.main div.body div {
    padding: 1em;
    font-family: courier, arial, helvetica;
    font-size: 5vw;
    text-align: center;
    background: #DDDCDF;
}

footer.footer {
    background-color: #2D3E46;
    width: 100vw;
    text-align: center;
    padding: .5em;
    font-family: serif;
    font-size: 2.5vw;
    color: #F9F4F4;
}

footer.footer a {
    color: dodgerblue;
}

.form-group {
    margin-top: 2em;
    margin-bottom: 3em;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background:#fff;
}


.form-control {
  margin-bottom: 1em;
}

.form-control label {
    text-align: left;
    color: #2D3E46;
    font-weight: bold;
    display: block;
    margin-bottom: .5em;
    font-size: 1em;
    font-variant: small-caps;
}

.form-control .help-text {
  display: flex;
  font-weight: lighter;

}
.form-control input, .form-control select {
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #707070;
    width: 80vw;
    align-items: center;
    font-weight: bold;
    padding: .5em;
    border-radius: .3em;
    outline:  none;
}

select[id^="id_date_of_birth"] {
  width: 15vw;
}

.form-group a {

  text-decoration: none;
}

.login-display {
  margin-top: 10vh;
}
