{% extends "base.html" %}
{% load i18n %}
{% block title %} Password Reset {% endblock title %}

{% block content %}
<div class="form-group">
    <form action="{% url "password_reset" %}" method="post">{% csrf_token %}
      {{ form.media.js }}
      {% for field in form %}
        <div class="form-control" >
          <label for="{{ field.id }}">{{ field.label }}</label>
          {{ field }}
        </div>
      {% endfor %}
      <button class="btn" type="submit">{% trans "Reset Password" %}</button>
    </form>
  </div>
{% endblock content %}
