{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="form-group">
  <form action="{% url "signup" %}" method="post">{% csrf_token %}
    {{ form.media.js }}
    <ul>
    {% for error in form.non_field_errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
    {% for field in form %}
      <div class="form-control" >
        <label for="{{ field.id }}">{{ field.label }}</label>
        {{ field }}<br>
        <ul>
        {% for error in field.errors %}
          <li>{{ error }}</li>
        {% endfor %}
        </ul>
      </div>
    {% endfor %}
    <button class="btn" type="submit">{% trans "Sign Up" %}</button>
  </form>
</div>
{% endblock content %}
