{% extends "base.html" %}
{% load i18n %}


{% block content %}
  <div class="form-group">
    <form action="{% url "verify-customer" %}" method="post">{% csrf_token %}
      {{ form.media.js }}
      {% for field in form %}
        <div class="form-control" >
          <label for="{{ field.id }}">{{ field.label }}</label>
          {{ field }}
        </div>
      {% endfor %}
      <button class="btn" type="submit">{% trans "Verify code" %}</button>
    </form>
  </div>


{% endblock content %}
