{% load static i18n %}
<!DOCTYPE html>
<html>
<head>
	 <meta charset="UTF-8">
	 <meta http-equiv="X-UA-Compatible" content="IE=edge">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" href="{% static "css/style.css" %}" />
</head>
<body>
	{% block nav %}
  {% include "navigation.html" %}
	{% endblock nav %}
  {% block content %}

	{% endblock content %}

	{% block footer %}
  {% include "footer.html" %}
	{% endblock footer %}
</body>
</html>
