{% extends "base.html" %}
{% load static i18n %}
{% block content %}
<section class="main">
  <!-- <div class="bg-1"></div> -->
  <div class="body">
    <div></div>
    <div>
      <p>Tena transport routes and ticket administration platform is a startup project working on transport providers in Ethiopia to create a better transport system in the whole country. </p>
      <a class="btn" href="{% url "login" %}">Login Here</a>
      <a class="btn" href="{% url "signup" %}">Get started </a>
    </div>
    <div></div>


  </div>

</section>
{% endblock content %}
